.vscode
venv
.ipynb_checkpoints
data
slurm
model_dump
temporal_augment_model_dump
wandb
__pycache__
submissions
result/*

exp.py
eva.py

result/*

# Other repos
DENETHOR
lightweight-temporal-attention-pytorch
